@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #6C63FF;
  --color-dark: #1A1A1A;
  --color-light: #F6F6F6;

  --background: #ffffff;
  --foreground: #000000;
}

@theme {
  --color-primary: var(--color-primary);
  --color-dark: var(--color-dark);
  --color-light: var(--color-light);
}

body {
  background: var(--background);
  color: var(--foreground);
}

